a, a:link, a:visited, a:active {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: bisque;
}

#background {
    background-color: black;
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-container {
    /* Alignment stuff */
    
    /* Background stuff */
    
    /* Text stuff */
    color: white;
}

#title {
    text-align: center;
    padding: 10px;
    font-size: 14vw;
}

#icon-box {
    height: 200px;
    text-align: center;
    min-height: 100px;
    background-size: auto;
    max-height: 100%;
}

#description {
    padding: 10px;
    text-align: center;
    font-size: 5vw;
    text-shadow: 3px 3px 0px #000;
}

#temp {
    text-align: center;
    font-size: 5vw;
}

#degree-change {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    font-size: 4vw;
}

#who-link {
    position: absolute;
    bottom: 0px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 480px) {
    
    #quote-box {
        max-width: 800px;
    }
    
    #title {
        font-size: 7vw;
    }
    
    #quote {
        font-size: 3.5vw;
    }
    
    #author {
        font-size: 4.5vw;
    }
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 70px;
    }
    
    #quote {
        font-size: 30px;
    }
    
    #author {
        font-size: 40px;
    }
}