/* RGB
$color1: rgba(255, 34, 12, 1);
$color2: rgba(211, 62, 67, 1);
$color3: rgba(155, 120, 116, 1);
$color4: rgba(102, 99, 112, 1);
$color5: rgba(28, 31, 51, 1);
*/

a, a:hover, a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}


#background {
    background-color: rgba(28, 31, 51, 1);
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-container {
    /* Alignment stuff */
    max-width: 75%;
    padding: 1%;
    /* Background stuff */
    background-color: rgba(102, 99, 112, 1);
    /* Text stuff */
    color: rgba(28, 31, 51, 1);
    /* Borders */
    border: solid;
    border-color: lightgray;
    
}

#title {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14vw;
}

#search-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

#search-box {
    width: 65%;
}

#search-button {
    width: 35%;
}

#random-button {
    width: 100%;
}

#result-box {
    border: solid;
    background-color: darkgray;
    color: rgba(28, 31, 51, 1);
}

#result-box a {
    color: rgba(28, 31, 51, 1);
}

.search-result {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
}

#who-link {
    position: absolute;
    bottom: 0px;
    font-family: 'EB Garamond', serif;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 480px) {
    
    #title {
        font-size: 6vw;
    }
}

@media screen and (min-width: 1000px) {
    #title {
        font-size: 70px;
}